<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Spreading rumours and gossip is incredibly dangerous. It destroys reputations, breaks down relationships and causes mayhem in someone’s life. It’s so common today because so many have lost basic decency and wouldn’t bat an eyelid mass texting such messages. Be careful!</p>&mdash; Mufti Ismail Menk (@muftimenk) <a href="https://twitter.com/muftimenk/status/1173838247702781952?ref_src=twsrc%5Etfw">September 17, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Absolutely 💕 this video! 🥰🥰🥰 <a href="https://t.co/8zLcpcUJHg">https://t.co/8zLcpcUJHg</a></p>&mdash; Gary Neville (@GNev2) <a href="https://twitter.com/GNev2/status/1173847379268837376?ref_src=twsrc%5Etfw">September 17, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
https://twitter.com/ladbible/status/1173866332359729153?s=20
